{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle Tâche - TaskLinker
{% endblock %}

{% block header_content %}
    <div class="flex-header">
        <h1>Créer une tâche</h1>
    </div>
{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <br>
            <button type="submit" class="button button-submit">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
